name: Generate Snake

on:
  # প্রতিদিন রাত ১২টায় অটো রান হবে
  schedule:
    - cron: "0 0 * * *" 
  # ম্যানুয়ালি রান করার অপশন
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # আপনার গিটহাব ইউজারনেম এখানে
          github_user_name: imtiaz-cnits
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/gh-action-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
